&small
{
	margin-top : 50px;

	@{b}__link
	{
		@width: image-width(~"@{imgPath}/logotype.png");
		@height: image-height(~"@{imgPath}/logotype.png");
		.size(@width, @height);
		background      : url(~"@{imgPath}/logotype.png") no-repeat 0 0;
		background-size : @width @height;
	}

	@media (max-width : @screen-xs-max)
	{
		margin-top : 20px;

		@{b}__link
		{
			margin : 0 auto;
		}
	}
}
