<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta charset="utf-8">
<!--<link rel="stylesheet" href="./css/styles.css"/>-->
<!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
<!--<link rel="icon" href="/favicon.ico" type="image/x-icon">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
