/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@facebook-name: facebook;
@facebook-x: 0px;
@facebook-y: 0px;
@facebook-offset-x: 0px;
@facebook-offset-y: 0px;
@facebook-width: 25px;
@facebook-height: 48px;
@facebook-total-width: 59px;
@facebook-total-height: 152px;
@facebook-image: '../i/bg/sprite.png';
@facebook: 0px 0px 0px 0px 25px 48px 59px 152px '../i/bg/sprite.png' facebook;
@telegram-name: telegram;
@telegram-x: 0px;
@telegram-y: 96px;
@telegram-offset-x: 0px;
@telegram-offset-y: -96px;
@telegram-width: 56px;
@telegram-height: 56px;
@telegram-total-width: 59px;
@telegram-total-height: 152px;
@telegram-image: '../i/bg/sprite.png';
@telegram: 0px 96px 0px -96px 56px 56px 59px 152px '../i/bg/sprite.png' telegram;
@twitter-name: twitter;
@twitter-x: 0px;
@twitter-y: 48px;
@twitter-offset-x: 0px;
@twitter-offset-y: -48px;
@twitter-width: 59px;
@twitter-height: 48px;
@twitter-total-width: 59px;
@twitter-total-height: 152px;
@twitter-image: '../i/bg/sprite.png';
@twitter: 0px 48px 0px -48px 59px 48px 59px 152px '../i/bg/sprite.png' twitter;
@spritesheet-width: 59px;
@spritesheet-height: 152px;
@spritesheet-image: '../i/bg/sprite.png';
@spritesheet-sprites: @facebook @telegram @twitter;
@spritesheet: 59px 152px '../i/bg/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  &.ct-ic_@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
