@helper : ~'.h';

@{helper}-link
{
	text-decoration : none;
	cursor          : pointer;

	&:hover,
	&:focus
	{
		text-decoration : underline;
	}

	&-reverse
	{
		text-decoration : underline;

		&:hover,
		&:focus
		{
			text-decoration : none;
		}
	}

	&-simple
	{
		text-decoration : none !important;
		cursor          : pointer;
	}

	&-disabled
	{
		cursor          : default;
		text-decoration : none !important;
	}

	&-close
	{
		font-size       : 8px;
		text-decoration : none !important;
	}

	&_color
	{
		&-inherit
		{
			color : inherit !important;
		}
	}
}

@{helper}-va // vertical-align <span class="va__top"></span>
{
	&&_top
	{
		vertical-align : top;
	}
	&&_middle
	{
		vertical-align : middle;
	}
	&&_bottom
	{
		vertical-align : bottom;
	}
}

@{helper}-inlbl
{
	.inline-block();
}

@{helper}-text
{
	&&_ovf
	{
		display       : block;
		white-space   : nowrap;
		text-overflow : ellipsis;
		overflow      : hidden;
	}

	@xs : 11px;
	@sm : 12px;
	@base : 13px;
	@md : 14px;
	@lg : 16px;
	@big : 18px;
	@high : 20px;

	.sizes(@variants,@i:1) when (@i <= length(@variants))
	{

		@name : extract(@variants, @i);

		&&_size-@{name}
		{
			font-size : convert(@@name, 'em');
		}
		.sizes(@variants, @i + 1);
	}
	// .text_size-small

	.sizes(xs sm base md lg big high);

	&&_color
	{

		@variants : primary success info danger warning silver gray darkgray gray_eee white green;

		.text-color(@variants, @pos:1) when (@pos <= length(@variants))
		{
			@variant : extract(@variants, @pos);
			@variable : "brand-@{variant}";

			&-@{variant}
			{
				color : @@variable;
				a&:hover
				{
					color : darken(@@variable, 10%);
				}
			}

			.text-color(@variants, @pos + 1)
		}
		// .text-color-success

		.text-color(@variants);

		&-inherit
		{
			color : inherit;
		}
	}
}

@{helper}-padding
{
	@padding-null : 0px;
	@padding-xs : 5px;
	@padding-sm : 10px;
	@padding-md : 15px;
	@padding-b : 20px;
	@padding-lg : 25px;

	@types : null xs sm md b lg;

	.generator(@types, @i: 1) when (@i <= length(@types))
	{
		@type : extract(@types, @i);
		@variable : "padding-@{type}";

		&_xy-@{type},
		&_x-@{type}
		{
			padding-left  : @@variable;
			padding-right : @@variable;
		}

		&_xy-@{type},
		&_y-@{type}
		{
			padding-top    : @@variable;
			padding-bottom : @@variable;
		}

		.generator(@types, @i + 1);
	}

	.generator(@types);
}

@{helper}-posr
{
	position : relative;
}

@{helper}-ovh
{
	overflow : hidden;
}

@{helper}-bg
{
	@variants : primary success info danger warning silver gray darkgray gray_eee white green;

	.make-variants(@variants, @pos:1) when (@pos <= length(@variants))
	{
		@variant : extract(@variants, @pos);
		@variable : "brand-@{variant}";

		&_@{variant}
		{
			.bg-variant(@@variable);
		}

		.make-variants(@variants, @pos + 1)
	}

	.make-variants(@variants);
}

@{helper}-mrg
{
	// margin classes
	// - - - - - - - - - -
	// extra small
	@margin-xs : xs 2px;
	// smll
	@margin-sm : sm 4px;
	// medium
	@margin-m : m 6px;
	// large
	@margin-lg : lg 8px;

	@margin-xl : xl 10px;
	// huge
	@margin-m-x2 : m-x2 12px;
	// big
	@margin-b : b 15px;
	// twenty
	@margin-xl-x2 : xl-x2 20px;
	@margin-b-x2 : b-x2 30px;

	.margin-short(@data,@pos:1) when (@pos <= length(@data))
	{
		@dataset : extract(@data, @pos);
		@prefix : extract(@@dataset, 1);
		@value : extract(@@dataset, 2);

		&_t-@{prefix},
		&_all-@{prefix}
		{
			margin-top : @value;
		}

		&_r-@{prefix},
		&_all-@{prefix}
		{
			margin-right : @value;
		}

		&_b-@{prefix},
		&_all-@{prefix}
		{
			margin-bottom : @value;
		}

		&_l-@{prefix}
		{
			margin-left : @value;
		}

		&_back-t-@{prefix}
		{
			margin-top : ~'-@{value}';
		}

		&_back-r-@{prefix}
		{
			margin-right : ~'-@{value}';
		}

		&_back-b-@{prefix}
		{
			margin-bottom : ~'-@{value}';
		}

		&_back-l-@{prefix}
		{
			margin-left : ~'-@{value}';
		}

		.margin-short(@data, @pos + 1);
	}

	.margin-short(margin-xs margin-sm margin-m margin-lg margin-xl margin-m-x2 margin-b margin-xl-x2 margin-b-x2);
}

.h-gs
{
	.img-grayscale();
	&:hover
	{
		filter         : none !important;
		-webkit-filter : none !important;
	}
}
