&-light
{

	.owl-nav
	{
		margin-top                  : 10px;
		text-align                  : center;
		-webkit-tap-highlight-color : transparent;

		[class*='owl-']
		{
			color         : #FFF;
			font-size     : 14px;
			margin        : 5px;
			padding       : 4px 7px;
			background    : #D6D6D6;
			display       : inline-block;
			cursor        : pointer;
			border-radius : 3px;
		}

		[class*='owl-']:hover
		{
			background      : #869791;
			color           : #FFF;
			text-decoration : none;
			&.disabled + .owl-dots
			{
				margin-top : 10px;
			}
			.disabled
			{
				opacity : 0.5;
				cursor  : default;
			}
		}
	}

	.owl-dots
	{
		text-align                  : center;
		-webkit-tap-highlight-color : transparent;

		.owl-dot
		{
			display  : inline-block;
			zoom     : 1;
			*display : inline;
			margin   : 5px 7px;
			span
			{
				width                       : 8px;
				height                      : 8px;
				border                      : 1px solid #A19F9D;
				display                     : block;
				-webkit-backface-visibility : visible;
				transition                  : opacity 200ms ease;
				border-radius               : 30px;
			}

			&.active span,
			&:hover span
			{
				background-color : #A19F9D;
			}
		}
	}
}
